venv/

*.pyc
__pycache__/
instance/ .pytest_cache
.coverage
htmlcov/

*.db

notes.todo
notes.todo~
changelog/
misc/

dist/
build/
*.egg-info/

node_modules/

temp/

app/static/photos
app/static/cesium/

Production

*.swp
