venv/

*.pyc
__pycache__/
instance/ .pytest_cache
.coverage
.coveragerc
htmlcov/

*.db
*.log

todo.todo
todo.todo~
changelog/
misc/

dist/
build/
*.egg-info/

node_modules/

temp/

server/cashmaps/static/


Production

*.swp
