<html>
    <head>
        <title>Cash Maps</title>

        <script src="/static/resources/scripts/res/jquery-1.9.0.js"></script>
        <script src="cesium/Cesium.js", type="text/jsx"></script>
    <link href="/media/cash/Files/Projects/CashMaps/app/static/cesium/Widgets/widgets.css" rel="stylesheet"></head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}
        <div id="content">
            <script src="/static/bundle.js"></script>
        </div>
        {% endblock %}
    <script type="text/javascript" src="/media/cash/Files/Projects/CashMaps/app/static/cesium/Cesium.js"></script><script type="text/javascript" src="/media/cash/Files/Projects/CashMaps/app/static/bundle.js"></script></body>
<html>
