.FileChooser_Container {
    border-radius: 4px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
    padding: 7px 0;
}

.FileChooser_Title {

}

.FileChooser_Description {
    border-bottom: 1px solid black;
    margin: 5px 0;
    padding: 5px 0;
}

.FileChooser_Form {
    padding-top: 5px;
}

.FileChooser_FileInput {
    margin: auto;
    display: block;
}

.FileChooser_SubmitButton {
    margin: auto;
    display: block;
}
