.ParserPage_Container {
    text-align: center;
}

.ParserPage_Container h2 {
    text-align: center;
}

.ParserPage_Row1 {
    margin: 0 auto;
    display: inline-block;
}

.ParserPage_Uploader {
    width: 400px;    
    float: left;
    margin: 5px; 
}

.ParserPage_Progress {
    border-radius: 4px;
    background-color: rgb(200, 200, 200);
    margin: 5px;
    max-width: 500px;
    min-width: 400px;
    float: left;
    padding: 7px;
    min-height:200px;
}

.ParserPage_Progress h2 {
    margin: 5px;
}
