<html>
    <head>
        <title>Cash Maps</title>

        <script src="/static/resources/scripts/jquery-1.9.0.js"></script>
    </head>
    <body>
        <div>
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('map')}}">Map</a>
        </div>

        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!--This must be here or nothing that extends this will show up-->
        {% block content %} {% endblock %}
    </body>
<html>
