<html>
    <head>
        <title>Cash Maps</title>

        <script src="/static/resources/scripts/res/jquery-1.9.0.js"></script>
        <!--
        <script src="/static/resources/scripts/res/react.min.js"></script>
        <script src="/static/resources/scripts/res/react-dom.min.js"></script>
        -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>       
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <script src="/static/resources/scripts/functions.js"></script>
    </head>
    <body>
        <div>
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('map')}}">Map</a>
            <a href="{{url_for('parser')}}">Parser</a>
            <a href="{{url_for('files')}}">Files</a>
        </div>

        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}
    </body>
<html>
